<footer>
    <div class="container flex-row-reverse flex-items-center flex-justify-between py-4 d-sm-flex">
        <ul class="list-style-none">
            <li class="footer-link">
                <a routerLink="/">
                    <img src="../../../assets/facebook-footer-logo.svg" height="18" width="22" loading="lazy" decoding="async" alt="Facebook icon">
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
            <li class="footer-link">
                <a routerLink="/">
                    <img src="../../../assets/github-footer-logo.svg" height="18" width="22" loading="lazy" decoding="async" alt="GitHub icon">
                    <span class="sr-only">GitHub</span>
                </a>
            </li>
            <li class="footer-link">
                <a routerLink="/">
                    <img src="../../../assets/linkedin-footer-logo.svg" height="18" width="22" loading="lazy" decoding="async" alt="LinkedIn icon">
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
        </ul>
        <ul class="list-style-none flex-wrap">
            <li class="footer-link">
                <a routerLink="/about">© 2022 The Donate Now Initiative</a>
            </li>
            <li class="footer-link">
                <a routerLink="/about">Privacy</a>
            </li>
            <li class="footer-link">
                <a routerLink="/about">Terms Of Service</a>
            </li>
        </ul>
    </div>
</footer>