<section id="profile">
  <div>
    <div class="first-column">
      <div class="profile-column-block">
        <div class="block">
          <div class="profile-column-block mb0 center">
            <div class="img-div">
              <img width="250" height="250" [src]="profilePictureSrc" alt="profile picture">
            </div>
            <div data-original-top="0px" class="sticky">
              <h1 class="card-names">
                <span class="card-fullname block overflow-hidden" itemprop="userNames" [innerText]="user.firstName + ' ' + user.lastName"></span>
                <span class="card-username block" itemprop="userNickName" [innerText]="user.nickName"></span>
              </h1>
            </div>
            <div class="border-box flex">
              <div class="border-box block" style="order: inherit;">
                <div *ngIf="showEditForm" class="border-box flex">
                  <app-profile-edit-form 
                    [firstName]="user.firstName" 
                    [lastName]="user.lastName" 
                    [nickName]="user.nickName"
                    [locationCity]="user.locationCity" 
                    (ret)="changeUserInformation($event)"
                    (showEditForm)="showOrHideEditForm()">
                  </app-profile-edit-form>
                </div>
              </div>
            </div>
            <div class="border-box block" style="margin-bottom: 16px;">
              <button class="btn" (click)="showOrHideEditForm()" [hidden]="showEditForm">Edit profile</button>
            </div>
            <div class="container" *ngIf="!showEditForm">
              <div>
                <span style="display: inline-block;" class="material-icons">card_giftcard</span>
                <p>Donations made: {{getUserDonations()}}</p>
              </div>
              <div>
                <span style="display: inline-block;" class="material-icons">room</span>
                <p>Location: {{user.locationCity}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="second-column">
    <h1>My donations</h1>
    <div *ngIf="hasNoPosts()">
      <p>You haven't made a donation yet.</p>
      <div class="sidenav-message-container">
        <h2>How to donate in 3 easy steps?</h2>
        <p>1.Click <a routerLink="/donate">Donate now</a></p>
        <p>2.Add the item you want to donate and write a short description</p>
        <p>3.Submit</p>
        <p>Congratulations! You just made a small difference for someone who needs it!</p>
      </div>
    </div>
    <div>
      <mat-card class="card" *ngFor="let post of userPosts">
        <mat-card-header>
          <mat-card-title>{{post.value.postTitle}}</mat-card-title>
          <mat-card-subtitle>{{post.value.category}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-lg-image src="../../assets/donation-img.jpg" alt="Photo of donated item">
        <mat-card-content>
          <p *ngIf="post.value.description.length > 40"
            [innerHTML]="post.value.description.slice(0,40) + '...'"></p>
          <p *ngIf="post.value.description.length < 40">{{post.value.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn" (click)="editDonation(post)">Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>