<div>
  <div style="grid-column: 1; display: block; width: 256px;">
    <div class="profile-column-block" style="right:600px; position: absolute; margin-top: 30px;">
      <div class="block">
        <div class="profile-column-block mb0 center">
          <div class="img-div">
            <img width="260" height="260" [src]="profilePictureSrc" alt="profile picture">
          </div>
          <div data-original-top="0px" class="sticky">
            <h1 class="card-names">
              <span class="card-fullname block overflow-hidden" itemprop="userNames" [innerText]="user.firstName + ' ' + user.lastName"></span>
              <span class="card-username block" itemprop="userNickName" [innerText]="user.nickName"></span>
            </h1>
          </div>
          <div class="border-box flex">
            <div class="border-box block" style="order: inherit;">
              <div *ngIf="showEditForm" class="border-box flex">
                <app-profile-edit-form [firstName]="user.firstName" [lastName]="user.lastName" [nickName]="user.nickName"
                  [locationCity]="user.locationCity" (ret)="changeUserInformation($event)">
                </app-profile-edit-form>
              </div>
            </div>
          </div>
          <div class="border-box block" style="margin-bottom: 16px;">
            <button class="btn" (click)="showOrHideEditForm()" [hidden]="showEditForm">Edit profile</button>
          </div>
          <div class="container" *ngIf="!showEditForm">
            <div>
              <span style="display: inline-block;" class="material-icons">card_giftcard</span>
              <p>Donations made: {{user.postings}}</p>
            </div>
            <div>
              <span style="display: inline-block;" class="material-icons">room</span>
              <p>Location: {{user.locationCity}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>