#profile {
    padding-bottom: 100px;
}

.error {
    color: #f44336;
}

.card-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.card-fullname {
    font-size: 24px;
    line-height: 1.25;
}

.overflow-hidden {
    overflow: hidden !important;
}

img {
    border-radius: 50%;
    /* height:auto; */
}

.btn {
    background-color: #f44336;
    color: #fff;
    padding: 16px 20px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 256px;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.profile-column-block {
    position: absolute;
    box-sizing: border-box; 
    display: block;
    margin-top: 30px;
    margin-left: 10px;
}

.border-box {
    box-sizing: border-box;
}

.block {
    display: block;
}

.flex {
    display: flex; 
    flex-direction: column;
}

.mb0 {
    margin-bottom: 0;
}

.center {
    align-items: center; 
}

.img-div {
    display: inline-block;
    margin-right: 0; 
    position: relative; 
    flex-shrink: 0; 
    width: 100%; 
    z-index: 4; 
    box-sizing: border-box;
}

.sticky {
    position: sticky;
}

.container {
    background-color: #f1f1f1;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
}

.card {
    width: 350px;
    display: inline-block;
    margin: 5px;
}
  
.header-image {
    background-image: url('../../../assets/blank-profile-pic.png');
    background-size: cover;
}

h1 {
    margin-top: 5px;
}

.first-column {
    grid-column: 1; 
    display: inline-block; 
    width: 256px;
}
.second-column {
    background-color: #f1f1f1;
    border-radius: 15px;
    text-align: center;
    grid-column: 2; 
    display: inline-block; 
    margin: 5px; 
    margin-left: 300px;
}