<nav class="header">
    <mat-toolbar color="warn">
        <span class="icon">
            <a routerLink="/"><mat-icon>home</mat-icon></a> 
        </span>
        <span>
            <a routerLink="/donate">Donate now</a> 
        </span>
        <span class="example-spacer"></span>
        <div class="user" *ngIf="isLoggedIn()">
            <span class="icon">
                <a routerLink="/catalog"><mat-icon>assignment</mat-icon></a> 
            </span>
            <span class="icon">
                <a routerLink="/search"><mat-icon>search</mat-icon></a> 
            </span>
            <span class="icon">
                <a (click)="navigateToProfile()"><mat-icon>account_circle</mat-icon></a> 
            </span>
            <span class="icon">
                <a (click)="logout()"><mat-icon>logout</mat-icon></a> 
            </span>
        </div>
        <div class="guest" *ngIf="!isLoggedIn()">
            <span>
                <a routerLink="/users/login">Login</a> 
            </span>
            <span>
                <a routerLink="/users/register">Register</a> 
            </span>
        </div>
    </mat-toolbar>
</nav>
