.requestbtn {
    background-color: #f44336;
    color: #fff;
    padding: 16px 20px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size: 10px;
}

.requestbtn:hover {
    opacity: 1;
    font-size: 12px;
}

.card {
    width: 350px;
    display: inline-block;
    margin: 5px;
}
  
.header-image {
    background-image: url('../../assets/blank-profile-pic.png');
    background-size: cover;
}

.container {
    background-color: white;
    padding: 16px;
    text-align: center;
}

.mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    stroke: #f44336!important
}